#product-card {
  width: 90%;
  height: 400px;
  margin: auto;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 100ms ease-out;
}
#product-card.animate {
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  transition: 100ms ease-out;
}
.stats-container {
  position: relative;
  top: -449px;
  background: #fff;
  width: 100%;
  height: 300px;
  padding: 27px 35px 35px;
  transition: all 200ms ease-out;
}
#product-card.animate .stats-container {
  top: -550px;
  transition: all 200ms ease-out;
}
.stats-container .product_name {
  font-size: 22px;
  color: #393c45;
}
.stats-container p {
  font-size: 16px;
  color: #b1b1b3;
  padding: 2px 0 20px 0;
}
.image_overlay {
  position: relative;
  top: -304px;
  width: 100%;
  height: 100%;
  background: #48daa1;
  opacity: 0;
}
#product-card.animate .image_overlay {
  opacity: 0.7;
  transition: all 200ms ease-out;
}
.product-options {
  padding: 2px 0 0;
}
.product-options strong {
  font-weight: 700;
  color: #393c45;
  font-size: 14px;
}
.product-options span {
  color: #969699;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}
#view_details {
  position: relative;
  top: -580px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
  width: 172px;
  opacity: 0;
  transition: all 200ms ease-out;
}
#view_details:hover {
  background: #fff;
  color: #48cfad;
  cursor: pointer;
}
#product-card.animate #view_details {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  margin-left: -75px;
  top: -600px;
  transition: all 200ms ease-out;
}

div.shadow {
  width: 335px;
  height: 520px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}
